@page "/home"

@code {

}


<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="../wwwroot/css/app.css">
    <title>Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <div class="header">
        <h1 class="orange">Chez Vincents</h1>
        <p>Une <b>experience</b> Incomparable</p>

        <div class="row">
            <div class="side">
                <h2><b>Nouveauté!</b></h2>
                <br />

                <h4>Venez maintenant commander votre collation en ligne!</h4>
                <p>En effet il est maintenant possible de commander la nourriture de notre cantine directement à votre bureau! 
                   Si vous n'êtes pas membre de notre établissement, ce service est aussi disponible, mais à vos frais</p>
                <br />
                <p>PS: Il n'est pas recommender de commander des alliments perissables si les délais de livraison sont estimés au dessus de deux jours</p>


            </div>
        </div>

    </div>



</body>
</html>

