@inherits LayoutComponentBase

@*<style>
    html {
        background-color: transparent;
        background: url(/img/LoginBackground.jpg) no-repeat center center fixed;
        background-size: 100% 100%;
    }

    body {
        background-color: inherit;
    }

    .card {
        background-color: inherit;
    }

        .card label,a,h5 {
            color: white;
        }

</style>*@

<div class="col-12">
    <br /><br />
    @Body
</div>