<AuthorizeView>
    <Authorized>
        Bonjour!
        <a href="LogOut">Se déconnecter</a>
    </Authorized>
    <NotAuthorized>
        <a href="Register">Register</a>
        <a href="/">Se Connecter</a>
    </NotAuthorized>
</AuthorizeView>